
.form{
  
 margin-top: 4rem;
 width: 100%;
 display: flex;
 justify-content: center;
 }
 .title{
    margin-top: 6rem;
    color: white;
 }
 .search-bar{
 width:30%;
 margin-right:10px;
 height: 30px;
 border-radius:1% ;
 border: 1px solid gray;
 padding: 5px;
  border: none;
   border-radius: 50px;
 }
 .icon{
 margin: 2rem;
 width: 60px;
 }
 .footer-icons{
 margin: 2rem;
 width: 40px;
 }

 .search-btn{
 width:13%;
 font-weight: 600;
 height: 42px;
 background-color: #95CD41;
 font-size: 16px;
 border-radius: 3%;
 border: none;
 border-radius: 50px;
 background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
 box-shadow: 0 4px 15px 0 rgb(49 196 190 / 75%);
}
 
.search-btn:hover{
 font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
    


  
 #favorite{
 font-size:25px;
 }
 .result-div{
 padding: 5px;
 margin: 2rem;
 background-color:#efefef;
 height: 250px;
 text-align: center;
 } 
 #result-p{
  padding-top: 1px ;
  font-size: 35px;
  /* margin: 10px; */
 }
 .languageUse{
 text-align: center;
 width: 100%;

 }
 .language{
  width: 80%;
  height: 60px; 
  margin: 1rem auto;
  text-align: center;
  border-radius: 50px;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgb(49 196 190 / 75%);
}
 
 .userNotFound{
   padding-top: 1rem;
   height: 60px;
   margin: 1rem auto;
   width: 80%;
  border-radius: 50px;
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgb(236 116 149 / 75%);
}
 

 
@media screen and (max-width: 400px) {
 .form{ display: flex;
  flex-direction: column;
 }
  .title{
    margin-top: 3rem;
 }
  .result-div{
  margin-left: 16PX; 
  margin-right: 16px;
  }
.search-bar{
 width:50%;
 margin:16px;
 height: 20px;
 }
 .search-btn{
  width: 60px;;
  height: 30px;
  margin-left: 16px ;
 }
 .language{
  height: auto; 
  margin: 1rem auto;
 }
}