 /* .result-div{
  padding: 5px;
 margin: 2rem;

 background-color:#efefef;

 height: 200px;
} 
 .language {
   width: 100%;
  background-color: grey;
 }
 .languageUse {
  margin: 1rem;
 }


@media screen and (max-width: 400px) {
    .result-div{
       margin-left: 16PX; 
       margin-right: 16px;
    }
} */